{
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "none",
	"singleAttributePerLine": false,
	"printWidth": 600,
	"tabWidth": 4,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
